*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Rationale', sans-serif;
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 20;
}
ul{
    width: 100%;    
    text-align: right;
    padding: 10px;
}
li{
    display: inline-block;
}
li a{
    text-decoration: none;
    display: inline-block;
    text-align: center;
    line-height: 40px;
    color: black;    
    width: 40px;
    height: 40px;
    margin-left: 15px;
    background-color: white;
    border-radius: 50%;
    font-weight: bold;
    font-family: sans-serif;
    box-shadow: 1px 2px rgba(00, 00, 00, 0.1);

}
.red-container, .green-container,.yellow-container{    
    height: 100vh;
    width: 100%;
}
.red-container{
    background-color: blue;
    padding-top: 60px;
}
.green-container{
    background-color: green;
}
.yellow-container{
    background-color: yellow;
}